.header{
    background-image: url(imagenes/ver-las-propiedades-de-hardware-de-mi-pc-en-windows.jpg);
    background-position: center;
    background-size: cover;
    filter:contrast(40%);
    filter: blur(10px);
    filter: saturate(80%);
    background-color: rgba(24, 22, 22, 0.916); 
    background-blend-mode: soft-light; 
 }

  .card-img-top{

border-radius: 50%;
filter: contrast(80%);
filter: saturate(150%);
 }

 body{
   
    font-family: monospace; 
    }

    .barra{
       padding-top: 1px;
       padding-bottom: 10px;
    }

  
    .whatsapp {
      position:fixed;
      width:60px;
      height:60px;
      bottom:100px;
      right:40px;
      background-color:#4c4f4d77;
      color:#FFF;
      border-radius:50px;
      text-align:center;
      font-size:30px;
      z-index:100;
    }
    
    .whatsapp-icon {
      margin-top:13px;
    }
    
    